.mainHomePage{
   width: 100%;
}
.text{
  font-family: 'Inter';
  font-weight: bold;
}
.d-display{
  display:none;
}
.home-section{
    background-image: url('../assets/images/group.svg');
    background: var(--unnamed-color-e1e5ef) 0% 0% no-repeat padding-box; 
  background: #E1E5EF 0% 0% no-repeat padding-box;
   border-radius: 5px; 
  /* opacity: 0.54; */
  }
  .search{
    /* background-color: aqua; */
    min-height: 600px;
    background-image: url('../assets/images/Rectangle 6010.svg');
    background-repeat: repeat-x;
    background-size: cover;
    background-position-y: bottom 10px;
    /* background-size: auto; */
    z-index: -11;
  
  }
  .searchicon{
    padding-top: 150px;
  }
  .home-background{
    background-color: #E1E5EF;
    /* background-size: 100px; */
    min-height:250px;
    opacity: 0.11;
    margin-top: -163px;
    margin-left:110px;
  }
  .searchicon2{
    padding-top: 50px;
  }
 
  .searchField > .searchInputField{
  background: #FFFFFF;
  box-shadow: 0px 11px 68px #0178FF26;
  border-radius: 8px;
  border:none;
  height: 46px !important;
  opacity: 1;
  }
  .searchInputField::placeholder{
     font-size: 17px !important;
  }
  .searchInputGroup{
    box-shadow: 0px 11px 68px white !important;
    border-radius: 0px !important; 
    border:none !important;
    left: 20px;
    background-color:white !important;
    opacity: 1;
  }
  .homeServiceSection{
    margin-top: -60px;
  }
  .editoSection{
    background-image: url('../assets/images/group.svg');
    background-repeat: no-repeat;
    background-size: 833px 776px;
    background-position-x: 357px;
    background-position-y: -76px;
    min-height: 598px;
    margin-top: 60px;
  }
  .listItemGroup  .listGroupItem {
    border-left:none !important;
    border-top:none !important;
    border-right:none !important;
    border-bottom:none !important;
    margin:10px;
  }
   .listGroupItem .offeringList{
    display: visible !important;
  }
  
  .listItemGroup  .listGroupItem.active {
    border-left:5px solid #529BDD !important;
    border-top:none !important;
    border-right:none !important;
    border-bottom:none !important;
    margin:10px;
    color:#529BDD;
    background-color: #F1F8FF;
  }
   .listGroupItem.active  .offeringList{
    display: visible !important;
  }
  
  /* .listGroupItem .offeringList{
    display: none !important;
  } */
  .querySection{
      min-height: 600px;
      background-image: url('../assets/images/Group 30882.svg');
      background-size:cover ;
      background-repeat: no-repeat;
  }
  .blogSection {
    background-image: url('../assets/images/Ellipse 64.svg');
    background-size: 1896px 1414px;
    background-repeat: no-repeat;
    min-height: 800px;
    background-position-y: -695px;
    background-position-x: -213px;
}
.bannerImage{
  background-image: linear-gradient(to right, #001631,#021022f8,transparent ),url("../assets/images/casey-olsen-NlFyPKxXORo-unsplash@2x.png");
  height: 300px;
  background-size:contain;
  /* background-size: 100% 100%; */
  /* background-position-x: 300px; */
  background-position: center,right;
  background-repeat: no-repeat;
  /* width: 100%;/  height: auto; */
  border-radius: 10px;
}
.bannerCircle{
  background-image: url("../assets/images/Ellipse 54.svg");
  background-repeat: no-repeat;
  background-size: 200px 200px !important;
  background-position-y: 200px;
  color: white;
  padding-left: 30px !important;
  padding-top: 30px !important;
}

.headingSection::last-word{
   color:#0278FF;
}


@media screen 
  and (max-width: 480px) {
    .text{
      font-family: 'Inter';
      font-weight: bold;
    }
   
  .headingSection {
    font-size: 24px !important;
    text-align: center;
  }
  .secondaryText{
    text-align: center;
    display:flex;
    justify-content: center;
  }
  .bestCard{
    margin-left: 126px !important;
  }
  .searchInputField::placeholder{
    font-size: 15px !important;
    /* padding-top: -12px !important; */
 }
 .bannerImage{
  background-image: linear-gradient(to right, #001631,#021022f8,transparent ),url("../assets/images/casey-olsen-NlFyPKxXORo-unsplash@2x.png");
  height: 300px;
  background-size:contain;
  /* background-size: 100% 100%; */
  /* background-position-x: 300px; */
  background-position: center,right;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.categorySection{
  margin-top: 21px !important;
}
.bannerHeading{
  font-size: 24px;
}
.sponsoredTag{
  margin-top: -17px !important;
}
.m-display{
  display: none ;
}
.d-display{
  display: revert;
}
}