.secondaryHeader{
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}
.nav-dropdown{
  font-size: 15px !important;
  padding-left: 0 !important;
  padding-top: 6px !important;
  color:#001632 !important;
}

.navItem{
    color:#001632 !important;
    font-size: 15px !important;
    font-family: 'Inter';
    padding-left: 16px !important ;
    padding-top: 13px !important;
    font-weight: bold;
    text-decoration: none; 
    position: relative; 
}
.navItem.active{
    color: #0178FF !important;
}

@media screen 
  and (max-width: 480px) {
    .secondaryHeader{
        -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    }
  .m-display{
      display: none !important;
  }
  /* mobile menu */
  .mobileBrandLogo{
    font-size: 36px !important;
    color: #002B64 !important;;
}
.mobileMenu{
    height: auto !important;
}
.navMobileMenu{
    color:black !important ;
    font-size: 16px !important;
    font-family: 'Inter';
    font-weight: 600;
}
.navMobileMenu:hover{
    color: #0178FF !important;
}
  }