.footer {
  background-color: #001632;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 20px;
  min-height: 250px;
  /* margin-top: 50px; */
}
.navLink{
  color:white !important;
  text-align: left;
  font-size: 14px !important;
  font-weight: bold !important;
  font-family: 'Inter';
}

